
.aboutContainer {
    flex: 1;
    margin: 10rem auto;
    width: 70vw;
    text-align: center;
}
.aboutEmail {
    width: 30%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}  
.linksContainer {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.socialLink {   
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
}

.contactLinks {
    transition: transform 0.3s ease;
}

.contactLinks:hover {
    transform: scale(1.05);
}
.contactIcon {
    width: 3rem;
    height: 3rem;
    color: var(--color-text)
}
@media screen and (max-width: 768px) {
    .aboutContainer {
        width: 90vw;
        margin: 5rem auto;
    }
    
    .aboutEmail {
        width: 70%;
    }
}