.aboutContainer {
    flex: 1;
    margin: 10rem auto;
    width: 70vw;
    text-align: center;
}
.aboutEmail {
    width: 30%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}  
.linksContainer {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.linksContainer a {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.contactLinks {
    transition: transform 0.3s ease;
}

.contactLinks:hover {
    transform: scale(1.05);
}