.authFormWrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
    border: 1px solid var(--color-border);
    border-radius: 8px;
}
.visuallyHidden {
    display: none;
}
main {
    overflow: auto;
}
.googleImage {
    width: 30px;
    height: 30px;
}

.googleFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    padding: 1vh 2vw;
}

.googleContainer {
    background-color: var(--color-bg) !important;
    border: 1px solid var(--color-border);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
}

.googleContainer:hover {
    cursor: pointer;
}

.authForm {
    width: 30vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.oAuthContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.authFieldContainer {
    border: none;
    margin: 0;
    padding: 0;
    width: 60%;

}

.authField {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    margin: 0.5rem 0;
}

.authField input,
.authField textarea {
    width: 100%;
    box-sizing: border-box;
}
@media screen and (max-width: 768px) {
    .authForm {
        width: 80vw;
        margin: 2rem auto;
    }

}