.authFormWrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
}
.authFormContainer {
    background-color: var(--color-surface);
    border: 1px solid var(--color-border);
    border-radius: 12px;
    padding: 3rem 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: fit-content;
    width: 30vw;
    margin: 1rem;
}
.visuallyHidden {
    display: none;
}
main {
    overflow: auto;
}
.googleSVG {
    width: 30px;
    height: 30px;
}

.googleFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    padding: 1vh 2vw;
}

.googleContainer {
    background-color: var(--color-bg) !important;
    border: 1px solid var(--color-border);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
}

.googleContainer:hover {
    cursor: pointer;
}

.authForm {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.oAuthContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.authFieldContainer {
    border: none;
    margin: 0;
    padding: 0;
}

.authField {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem 0;
    height: 100%;
}

.authField input,
.authField textarea {
    box-sizing: border-box;
    font-size: 1.3rem;
}

@media screen and (max-width: 1024px) {
    .authFormContainer {
        width: 50vw;
    }

@media screen and (max-width: 768px) {
    .authForm {
        margin: 2rem auto;
    }
    
    .authFormContainer {
        width: 80vw;
        padding: 2rem 1rem;
    }
    .authFormContainer h2 {
        font-size: 1.3rem;
        text-align: center;
    }
    .authField{
        flex-direction: column;
        align-items: flex-start;
        gap: 0.3rem;
        justify-content: center;
    }
}}
@media screen and (max-width: 480px) {
    .authFormContainer {
        width: 90vw;
        padding: 1rem;
    }
    .authFormContainer h2 {
        font-size: 1.1rem;
        text-align: center;
    }
    .authField input {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin: 0 auto;
        font-size: 1.1rem;
    }
}