.blogCard {
    display: grid;
    grid-template-rows: 3fr;
    margin: 2rem;
    padding: 2rem;
    border: 1px black solid;
}
.engagementBox {
    display: flex;
    justify-content: start;
    gap: 8rem;
}
.engagementContent {
    display: flex;
    align-items: center;
    column-gap: 15px;
    font-size: 1.5rem;
}
.cardFooter {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.interactionBox {
    display: flex;
    gap: 1rem
}
.title {
    font-size: 1.5rem;
}
.blogCardImage {
    width: 30px;
    height: 30px;
}
