.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.authorBox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.commentCard {
    margin: 2rem 0;
    justify-self: center;
    border: 1px solid var(--color-border);
    background-color: var(--color-surface);
    width: 40vw;
}

.commentBody {
    margin: 0;
    width: 100%;
    min-height: 3rem;
    padding: 1rem;
    border-top: 1px solid var(--color-border);
    border-bottom: 1px solid var(--color-border);
}

.commentDate {
    padding: 0 1rem;
    text-align: start;
    color: gray;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}
.commentActions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;
}
.interactionBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;
}

.editBox {
    width: 100%;
    display: flex;
    justify-content: center;
}

.commentText {
    width: 90%;
    max-height: 20vh;
    padding: 1rem;
    overflow-y: auto;
    resize: none;
}

.commentInputs {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.commentTextArea {
    width: 30vw;
    height: 10vh;
    padding: 1rem;
}
.interactionFlex {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
@media screen and (max-width: 1440px) {
    .commentCard {
        width: 60vw;
    }
    .header {
        min-height: 100px;
    }
    .commentBody {
        width: 100%;
    }
    .commentTextArea {
        width: 40vw;
        min-height: 15vh;
    }

}
@media screen and (max-width: 1024px) {
    .commentCard {
        width: 70vw;
        margin: 1rem auto;
    }
    .header {
        min-height: 90px;
    }
    .commentBody {
        width: 100%;
    }
    .commentTextArea {
        width: 50vw;
        min-height: 15vh;
    }

}
@media screen and (max-width: 768px) {
    .commentCard {
        width: 80vw;
    }
    .header {
        min-height: 80px;
    }
    .commentBody {
        width: 100%;
    }
    .commentInputs {
        flex-direction: column;
        align-items: center;
        margin: 1rem auto;
    }
    .commentTextArea {
        width: 70vw;
        min-height: 15vh;
    }

}

@media screen and (max-width: 480px) {
    .header {
        align-items: center;
        font-size: 0.9rem;
        min-height: 70px;
    }
    .commentInputs {
        flex-direction: column;
        margin: 1rem auto;
    }
    .commentTextArea {
        width: 80vw;
    }
    .header a {
        line-height: 1;
        margin: 0;
        padding: 0 inherit;
    }

    .commentCard {
        width: 90vw;
    }

    .commentBody {
        width: 100%;
    }

    .footer {
        font-size: 0.8rem;
    }
    .footer button {
        min-width: 5rem;
    }
    .authorBox img {
        vertical-align: middle;
    }

    .authorBox h3,
    .authorBox a {
        margin: 0;
        padding: 0;
        line-height: 1;
    }



}