.authorBox {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;
}
.commentCard {
    margin: 2rem 0;
    justify-self: center;
    border: 1px solid black;
}

.commentBody {
    margin: 0;
    width: 30vw;
    min-height: 3rem;
    padding: 1rem;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.commentDate {
    padding: 0 1rem;
    text-align: start;
    color: gray;
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}
.interactionBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;
}
.editBox {
    width: 100%;
    display: flex;
    justify-content: center;
}
.commentTextArea {
    width: 90%;
    max-height: 20vh;
    padding: 1rem;
    overflow-y: auto;
    resize: none;
}