.dashboardFlex {
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 4rem;
    margin: 4rem 5rem;
    height: 80vh;
}
.panel {
    display: grid;
    grid-template-columns: 1;
    gap: 2rem;
}
.deleteButton {
    background-color: var(--color-warning);
}
.postCardsBox {
    width: 70vw;
    min-height: 15vw;
    gap: 0;
    overflow-y: auto;
    border: 1px solid var(--color-border);

}
.centerWrapper {
    grid-column: 1 / -1;
    display: grid;
}
