.dashboardFlex {
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 0 5rem;
    height: 80vh;
    padding: 5rem;
    gap: 5rem;
}
.panel {
    display: grid;
    grid-template-columns: 1;
    gap: 2rem;
}
.panel button {
    width: 11rem;
}
.deleteButton {
    background-color: var(--color-warning);
}

.postCardsBox {
    width: 80vw;
    min-height: 15vw;
    gap: 0;
    overflow-y: auto;
    border: 1px solid var(--color-border);

}
.centerWrapper {
    grid-column: 1 / -1;
    display: grid;
}
