.dashboardFlex {
    display: flex;
    justify-content: center;
    align-self: center;
    height: 80vh;
    padding: 5rem 1rem;
    gap: 5rem;
    width: 90%;
}


.postCardsBox {
    width: 100%;
    min-height: 15vw;
    gap: 0;
    overflow-y: auto;
    border: 1px solid var(--color-border);

}
.centerWrapper {
    grid-column: 1 / -1;
    display: grid;
}
@media  screen and (max-width: 1024px) {
    .dashboardFlex {
        flex-direction: column;
        justify-content: center;
        margin: 4rem auto;
        padding: 0;
        gap: 4rem;
        height: auto;
    }
    .panel {
        position: relative;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: auto auto;
        gap: 5rem;
    }
    .postCardsBox {
        width: 100%;
        padding: 2rem 0;
        margin: 1rem auto;
        gap: 2rem;
    }
    .deleteWrapper {
        grid-column: span 2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .deleteButton {
        align-items: center;
    }
}
@media screen and (max-width: 780px) {
    .dashboardFlex {
        flex-direction: column;
        justify-content: center;
        margin: 5rem auto;
        padding: 0;
        gap: 4rem;
        height: auto;
    }
    .panel {
        position: relative;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: auto auto;
        gap: 5rem;
    }
    .deleteWrapper {
        grid-column: span 2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .deleteButton {
        align-items: center;
    }
    .postCardsBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 2rem 0;
        margin: 1rem auto;
        gap: 2rem;
    }
}
@media screen and (max-width: 480px) {
    .dashboardFlex {
        width: 90%;
        flex-direction: column;
        justify-content: center;
        margin: 3rem auto;
        padding: 0;
        gap: 3rem;
        height: auto;
    }
    .panel {
        position: relative;
        display: grid;
        justify-self: center;
        justify-content: center;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        margin: 0 auto;
    }
    .panel button {
        width: 8rem;
        height: 4rem;
    }
    
    .postCardsBox {
        width: 100%;
        margin: 2rem auto;
    }
}