.editor {
  width: 50vw;
  min-height: 90vh;
  border: solid 1px black;
  padding: 1rem;
  overflow: auto;
  margin: 1rem 0;
}
.editor-container {
  width: 100%;
  display: grid;
  justify-content: center;
}
.toolbar {
  background-color: rgb(95, 93, 93);
  position: sticky;
  top: 0;
  z-index: 100;
  margin: 0 auto;
  display: flex;
  justify-content: center;  
  align-items: center;
  gap: 5px;
}

.underline {
  text-decoration: underline;
}

.strike-through {
  text-decoration: line-through;
}
.underline.strike-through {
  text-decoration: underline line-through;
}
.font-bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.divider {
  width: 1px;
  height: 2rem;
  background-color: blue;
  margin: 0 0.5rem;
}

.ltr {
  text-align: left;
}

.rtl {
  text-align: right;
}

.toolBar .toolbar-button.active {
  background-color: black;
  color: white;
}

.toolbar-button {
  background-color: white;
  padding: 15px;
  border: 1px solid black;
}

.toolbar-button:hover {
  background-color: rgb(226, 226, 226);
}

.editor-paragraph {
  font-size: 1rem;
  line-height: 1.6;
  margin-block-start: 0;
  margin-block-end: 0;
}

.editor-heading-h1 {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 1.5rem  1rem;
}

.editor-heading-h2 {
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 1.3;
  margin: 1.25rem 0 1rem;
}

.editor-heading-h3 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.4;
  margin: 1rem 0 0.75rem;
}
.editor-quote {
  background-color: rgb(233, 233, 233);
  padding: 1rem 1rem;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
.post-form {
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: relative;
  margin: 1rem;
}
.submit-button {
  display: flex;
  align-items: center;
  text-align: center;
}
.submit-error {
  position: absolute;
  right: -250px;
}
.post-input {
  min-height: 3rem;
  max-height: 5rem;
  font-size: 1.5rem;
  width: 50rem;
  resize: none;
  overflow: hidden;
}
.post-title {
  display: flex;
  justify-content: center;
  
}
.image-inputBox {
  display: flex;
  flex-direction: column;
}
.image-input {
  display: none;  
}