.footer {
    position: relative;
    width: 100%;
    background-color: var(--color-surface);
    color: var(--color-text);
    border-top: 1px solid #444;
}

.navSection {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer a {
    color: var(--color-text);
}

.linkGroupLeft {
    color: var(--color-text);
    display: flex;
    gap: 3rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.linkGroupRight {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-end;
}

.copy {
    flex-basis: 100%;
    text-align: center;
    font-size: 0.875rem;
    color: #aaa;
    margin: 0;
}

@media screen and (max-width: 480px) {
    .footer {
        width: 100vw;
    }
    .navSection {
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
        padding: 1rem 0;
    }

    .linkGroupLeft {
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-size: 0.8rem;
        padding: 0;
    }

    .linkGroupRight {
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        font-size: 0.8rem;
        align-items: center;
        padding: 0;
    }
    
}