.footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    background-color: var(--color-surface);
    color: var(--color-text);
    border-top: 1px solid #444;
}

.navSection {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 2rem;
}

.footer a {
    color: var(--color-text);
}

.linkGroupLeft {
    color: var(--color-text);
    display: flex;
    gap: 3rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.linkGroupRight {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-end;
}

.copy {
    flex-basis: 100%;
    text-align: center;
    font-size: 0.875rem;
    color: #aaa;
    margin: 0;
}