body {
  margin: 0;
}

.contentBox {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10vw;
  padding: 10vh 0;
}

.homeContent {
  display: grid;
  row-gap: 2rem;
  width: 30vw;
}

.contentImage {
  width: 30vw;
  height: 30vh;
}


@media screen and (max-width: 1024px) {
  .contentBox {
    margin: 7vh 0;
    flex-direction: column;
    row-gap: 2vh;
    padding: 7vh 0;
  }

  .homeContent {
    width: 50vw;
    text-align: center;
  }

  .contentImage {
    width: 40vw;
    height: auto;
  }
  
}
@media screen and (max-width: 768px) {
  .contentBox {
    margin: 5vh 0;
    flex-direction: column;
    row-gap: 1vh;
    padding: 5vh 0;
  }

  .homeContent {
    width: 80vw;
    text-align: center;
  }

  .contentImage {
    width: 60vw;
    height: auto;
  }
  
}

