body {
    margin: 0;
}

.contentBox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: clamp(2rem, 10vh, 6rem) 1rem;
    gap: clamp(1rem, 5vw, 4rem);
}

.homeContent {
    display: grid;
    row-gap: 1.5rem;
    width: clamp(280px, 40vw, 600px);
}

.contentImage {
    width: clamp(250px, 35vw, 500px);
    height: auto;
    object-fit: cover;
}

@media screen and (max-width: 1024px) {
    .contentBox {
        flex-direction: column;
        text-align: center;
    }

    .homeContent {
        width: 80vw;
    }

    .contentImage {
        width: clamp(200px, 60vw, 400px);
    }
}