body {
  margin: 0;
}

.contentBox {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10vw;
  padding: 10vh 0;
}

.homeContent {
  width: 30vw;
}

.contentImage {
  width: 30vw;
  height: 30vh;
}





