body {
    margin: 0;
}

.contentBox {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10vw;
    padding: 10vh 0;
    background-color: gray;
}

.homeContent {
    width: 30vw;
}

.contentImage {
    width: 30vw;
    height: 30vh;
}

.footer {
  
  background-color: #000;
  color: white;
  border-top: 1px solid #444;
}
.navSection {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 2rem;
}
.footer a {
    color: white;
}
.linkGroupLeft {
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.linkGroupRight {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-end;
}

.copy {
  flex-basis: 100%;
  text-align: center;
  font-size: 0.875rem;
  color: #aaa;
  margin: 0;
}
