.image-wrapper.selected {
  border: 2px solid blue;
}

.image-wrapper {
  box-sizing: border-box;
  position: relative;
  display: inline;
  min-width: 300px;
  z-index: 10;
  margin: 1rem 0;
}

.lexical-image {
  width: 100%;
  display: block;

}

.resize-handle {
  border: 1px solid var(--color-border);
  background-color: var(--color-bg);
  position: absolute;
  left: -10px;
  top: -10px;
  cursor: ew-resize;
  user-select: none;
  font-size: 16px;
  z-index: 10;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-handle {
  border: 1px solid var(--color-border);
  cursor: pointer;
  background-color: var(--color-bg);
  position: absolute;
  right: -10px;
  top: -10px;
  user-select: none;
  z-index: 10;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alignment-buttons {
  border: 1px solid var(--color-border);
  background-color: var(--color-bg);
  width: 100%;
  display: inline-flex;
  justify-content: space-around;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}

.alignment-buttons button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.lexical-image-container.align-left {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  float: left;
  margin-right: 1rem;
}

.lexical-image-container.align-center {
  display: flex;
  justify-content: center;
  text-align: center;
}

.lexical-image-container.align-right {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  float: right;
  margin-left: 1rem;
}

.lexical-image-skeleton {
  width: 100%;
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin-bottom: 8px;
}