.myBlogsFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    gap: 4rem;
    margin: 2rem 5rem;
    height: 80vh;
}
.panel {
    display: grid;
    grid-template-columns: 1;
    gap: 2rem;
}
.blogCardsBox {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    width: 80vw;
    min-height: 15vw;
    gap: 0;
    overflow-y: auto;
    border: 1px solid black
}
.centerWrapper {
    grid-column: 1 / -1;
    margin: 0 auto;
}
