.myBlogsFlex {
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 4rem;
    margin: 2rem 5rem;
    height: 80vh;
}
.panel {
    display: grid;
    grid-template-columns: 1;
    gap: 2rem;
}
.blogCardsBox {
    width: 80vw;
    min-height: 15vw;
    gap: 0;
    overflow-y: auto;
    border: 1px solid black
}
.centerWrapper {
    grid-column: 1 / -1;
    display: grid;
}
