.nav {
    background-color: var(--color-surface);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-bottom: 2px solid var(--color-accent);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
    height: 5rem;
    position: sticky;
    top: 0;
    z-index: 2000;
}

.nav1 {
    display: flex;
    align-items: center;
    column-gap: 2rem;
    font-size: 1.5rem;
    height: 100%;
}

.navButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    cursor: pointer;
    background-color: var(--color-surface);
    color: var(--color-text);
    width: 150px;
    padding: 0;
    align-content: center;
    text-align: center;
    font-weight: 400;
    height: 100%;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    will-change: font-weight;
    border-right: 1px solid var(--color-border);
    border-left: 1px solid var(--color-border);
    transition: all 0.3s ease;
}

.navButton:hover {
    background-color: var(--color-accent);
    color: var(--color-on-accent);
    transform: scale(1.05);
    box-shadow: 0px -5px 10px 5px var(--color-light-accent);
}

.searchBar {
    position: relative;
    display: flex;
    align-self: center;
    align-items: center;
    gap: 1rem;
}

.searchBar input {
    width: 30vw;
    background-color: var(--color-bg);
    font-size: x-large;
    padding: 1rem;
    box-sizing: border-box;
    border: 1px solid var(--color-border);
}


.inputWrapper {
    position: relative;
    flex: 1;
}

.searchBar img {
    width: 3rem;
    height: auto;
}

.searchBar img:hover {
    cursor: pointer;
}

.hamburgerWrapper {
    display: none;
}

.hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}

.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: var(--color-text);
    transition: all 0.3s ease;
}

.hamburger span.barOpen:nth-child(2) {
    opacity: 0;
}

.hamburger span.barOpen:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger span.barOpen:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.navContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 960px) {
    .nav {
        display: flex;
        gap: 1rem;
        width: 100%;
        z-index: 3000;
    }

    .hamburger {
        display: flex;
    }

    .hamburgerWrapper {
        position: relative;
        width: 90%;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 2rem;
        z-index: 200;
    }

    .navContent {
        position: fixed;
        top: 5rem;
        left: -100%;
        width: 40%;
        height: 100vh;
        background-color: var(--color-surface);
        flex-direction: column;
        justify-content: start;
        gap: 1rem;
        transition: 0.3s ease-in-out;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
        z-index: 100;
        border-right: 2px solid var(--color-accent);
    }

    .navContent.active {
        left: 0;
    }

    .navButton:hover {
        transform: translateY(-10px);
    }

    .nav1 {
        flex-direction: column;
        width: 100%;
        height: auto;
        row-gap: 1rem;
    }

    .navButton {
        width: 100%;
        height: 3.5rem;
        border: none;
        border-top: 1px solid var(--color-border);
        border-bottom: 1px solid var(--color-border);
        border-radius: 0;
        display: flex;
        justify-content: center;
    }

    .searchBar {
        width: 100%;
        flex-direction: row;
    }

    .searchBar input {
        width: 100%;
        font-size: 1rem;
    }
}