.headerBox {
    width: 50vw;
    margin: 0 auto;
}

.commentInputs {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.commentText {
    width: 30vw;
    height: 10vh;
}

.commentButton {
    height: 2rem;
}

.interactionFlex {
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.heartContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.authorContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.postTitle {
    display: flex;
    justify-content: center;
    margin: 3rem;
}
.postInfo {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}