.headerBox {
    width: 50vw;
    margin: 0 auto;

}

.commentInputs {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.commentText {
    width: 30vw;
    height: 10vh;
}

.commentButton {
    height: 2rem;
}

.interactionFlex {
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.heartContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.postTitle {
    display: flex;
    justify-content: center;
}
.postInfo {
    display: flex;
    justify-content: end;
    gap: 5rem;
}