.postCard {
    max-width: 100%;
    display: grid;
    grid-template-rows: 3fr;
    margin: 2rem;
    padding: 2rem;
    border: 1px black solid;
    overflow: auto;
}
.publishedBadge {
    background-color: #a7f3d0;
    color: black;
    justify-self: start;
    padding: 10px;
}
.draftBadge {
    background-color: #fa4f4f;
    color: white;
    justify-self: start;
    padding: 10px;
}

.engagementBox {
    display: flex;
    justify-content: start;
    gap: 8rem;
}
.engagementContent {
    display: flex;
    align-items: center;
    column-gap: 15px;
    font-size: 1.5rem;
}
.postMeta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray
}
.authorBox {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.cardFooter {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    color: gray;
}
.footerDate {
    display: flex;
    gap: 2rem;
}
.interactionBox {
    display: flex;
    gap: 1rem
}
.title {
    font-size: 1.5rem;
    flex-wrap: wrap;
    word-break: break-word;
}
.postCardImage {
    width: 30px;
    height: 30px;
}
