.postCard {
    width: 80%;
    display: grid;
    gap: 2rem;
    justify-self: center;
    grid-template-rows: 3fr;
    margin: 2rem;
    padding: 2rem;
    border: 1px black var(--color-border);
    box-shadow: 1px 1px 5px 1px var(--color-light-accent);
    overflow: auto;
    background-color: var(--color-surface);
    z-index: 1;

}
.cardHeader {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    gap: 1rem;
}
.publishedBadge {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    background-color: var(--color-affirm);
    color: var(--color-on-affirm);
    justify-self: start;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}
.draftBadge {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    background-color: var(--color-warning);
    color: var(--color-on-accent);
    justify-self: start;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.deleteLabel {
    color: var(--color-warning);
    font-weight: 500;
    text-align: center;
}
.engagementBox {
    display: flex;
    justify-content: start;
    gap: 8rem;
}
.engagementContent {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
    font-size: 1.5rem;
}
.postMeta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-text-secondary)
}
.authorBox {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.cardFooter {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    color: var(--color-text-secondary);
}
.footerDate {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.interactionBox {
    display: flex;
    align-items: center;
    gap: 1rem
}
.title {
    margin: 1rem 0;
    font-size: 1.5rem;
    flex-wrap: wrap;
    word-break: break-word;
}
.titleSubContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.postCardImage {
    width: 30px;
    height: 30px;
}
@media screen and (max-width: 1024px) {
    .postCard {
        width: 80vw;
        padding: 1.5rem;
        margin: 1.5rem;
    }
    .engagementBox {
        gap: 6rem;
    }
    .title {
        font-size: 1.1rem;
    }
    
}
@media screen and (max-width: 768px) {
    .postCard {
        width: 85%;
        padding: 1rem;
        margin: 1rem;
    }
    .engagementBox {
        gap: 4rem;
    }
    
    .title {
        font-size: 1.2rem;
    }
    .cardHeader {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
    }
}
@media screen and (max-width: 480px) {
    .postCard {
        display: grid;
        width: 80%;
        height: 50vh;
        grid-template-rows: 1fr 1fr 1fr;
        justify-content: none;
        padding: 1rem;
        margin: 2rem auto;
        overflow: hidden;
    }
    .cardHeader {
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
    .titleSubContainer {
        flex-direction: column;
        gap: 0.5rem;
    }
    .engagementBox {
        gap: 3rem;
    }
    .title {
        font-size: 1rem;
        text-align: center;
    }
    .postCardImage {
        width: 25px;
        height: 25px;
    }
    .authorBox {
        gap: 0.5rem;
        text-align: center;
    }
    .cardFooter {
        font-size: 0.9rem;
        flex-direction: column;
        gap: 1rem;
        text-align: center;
    }
    .postMeta {
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }
}   