.profilePicture {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: 2px solid var(--color-border);
    box-shadow: 1px 1px 5px 1px var(--color-light-accent);
}

.profileCard,
.publicProfileCard {
    width: 35vw;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.publicProfileCard {
    width: 30vw;
    border: 2px solid var(--color-border);
    box-shadow: 1px 1px 5px 2px var(--color-light-accent);
    padding: 2rem;

}



.labelButton {
    text-align: center;
    cursor: pointer;
    color: var(--color-on-accent);
    background-color: var(--color-accent);
    padding: 1rem 1.5rem;
    border-radius: 5px;
}

.editingProfileCard {
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem auto;
    text-align: left;
    gap: 2rem;
}

.editingFieldset {}

.formContainer {
    width: 25vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;

}

.editingFooter {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.passwordFormContainer {
    width: 40vw;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.editingProfileCard button,
.passwordFormContainer button {
    text-align: center;
    padding: 1rem 1rem;
}

.buttonBox {
    display: flex;
    gap: 5rem;
}

.avatarContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.userInfoBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.userName {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0 1rem;
}

.userDetail {
    font-size: 1.5rem;
    margin: 0 1rem;
    color: color-mix(in srgb, var(--color-text) 60%, white 40%);
}

.infoSection {
    display: flex;
    gap: 5rem;
}

.tabPanel {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 2rem;
}

.tabPanelButton {
    background-color: var(--color-surface);
    color: var(--color-text-secondary);
    padding: 0.5rem 1rem;
    border: none;
}

.tabPanelButton:hover {
    cursor: pointer;
}

.activeTab {
    background-color: var(--color-accent);
    color: var(--color-on-accent);
    box-shadow: 1px black;
}