.cardsContainer {
    margin: 5rem auto;
    display: grid;
    justify-content: center;
    align-items: start;
    grid-template-columns: 1fr;
    width: 80vw;
    gap: 20px;
}



@media screen and (max-width: 780px) {
    .cardsContainer {
        width: 100vw;
    }
}

@media screen and (max-width: 480px) {
    .cardsContainer {
        margin: 3rem auto;
        width: 90vw;
    }
}