.cardsContainer {
    margin: 5rem auto;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
    width: 70vw;
}



@media screen and (max-width: 780px) {
    .cardsContainer {
        width: 100vw;
    }
}

@media screen and (max-width: 480px) {
    .cardsContainer {
        margin: 3rem auto;
        width: 90vw;
    }
}