.googleImage {
  width: 50px;
  height: 50px;
}

.googleFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  padding: 1vh 2vw;

  background-color: white;
}

.googleContainer {
  width: 15vw;
  padding: 0;
  margin: 1rem 0;
  font-size: 1rem;
}

.googleContainer:hover {
  cursor: pointer;
}

.loader {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #000000;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loaderCenter {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
  z-index: 9999;
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 5rem 0;
}

.loaderMini {
  width: 3rem;
  height: 3rem;
}

.loaderText {
  display: block;
}

.error {
  color: #DC2626;
}



.pageError {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
  z-index: 20;
}
.componentError {
  width: 25vw;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem
}
.ctaButton {
  cursor: pointer;
  padding: 5px 10px;
  margin: 5px 0;
  background-color: white;
  border-radius: 10px;
}
.errorLink {
  text-decoration: underline;
  color: rgba(0, 124, 240, 0.986)
}
.errorLink:hover {
  cursor: pointer;
}
.avatar {
  width: 2rem;
  height: 2rem;
}
.heartButton {
  cursor: pointer;
}
.responseInfo{
  text-align: center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}