.googleImage {
    width: 50px;
    height: 50px;
}
.googleFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    padding: 1vh 2vw;

    background-color: white;
}
.googleContainer {
  width: 15vw;
  padding: 0;
  margin:1rem 0;
  font-size: 1rem;
}

.googleContainer:hover{
    cursor: pointer;
}

.loader {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #000000;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loaderCenter {
  position: fixed;      
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.5); 
  z-index: 9999;        
}
.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.loaderMini {
  width: 3rem;
  height: 3rem;
}
.loaderText {
  display: block;
}
.error {
  color:red
}



@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 