.googleImage {
    width: 50px;
    height: 50px;
}
.googleFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    padding: 1vh 2vw;

    background-color: white;
}
.googleContainer {
  width: 15vw;
  padding: 0;
  margin:1rem 0;
  font-size: 1rem;
}

.googleContainer:hover{
    cursor: pointer;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #000000;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.error {
  color:red
}
.OAuthLoader {
  display: grid;
  justify-content: center;
  align-items: center;
}


@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 