@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
  --color-bg: #F9F7F7;
  --color-surface: #E8EEF5;
  --color-accent: #3F72AF;
  --color-text: #112D4E;
  --color-text-secondary: #000000;
  --color-on-accent: #FFFFFF;
  --color-light-accent: color-mix(in srgb, var(--color-accent) 30%, white 70%);
  --color-border: #C8D3E1;

  --color-accent-warm: #F2A365;

  --color-accent-hover: #335E99;
  --color-accent-light: #EAF1FA;

  --color-warning: #E85A5A;
  --color-affirm: #6FCF97;
  --color-info: #56CCF2;

  font-family: 'Ubuntu', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  overflow-x: hidden;

}

main {
  flex: 1 0 auto;
}

input,
button {
  font-family: 'Ubuntu', sans-serif;
}


